/*/ portfolio wrapper */
.portfolio-card {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.portfolio-card .portfolio-card-img {
  width: 100%;
  /* aspect-ratio: 16 / 9; */
}

.portfolio-card:hover {
  cursor: pointer;
  /* transform: scale(1.05); */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 2px solid #3498db;
  transform: translateY(-10px);
  transform: scale(1.04);
  box-shadow: 0 8px 25px rgba(52, 152, 219, 0.15);
}

.portfolio-card .portfolio-card-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  background-image: -webkit-linear-gradient(
    bottom,
    #e1dfed 0%,
    rgba(225, 223, 237, 0.7) 99%,
    rgba(225, 223, 237, 0.8) 100%
  );
  background-image: linear-gradient(
    to top,
    #e1dfed 0%,
    rgba(225, 223, 237, 0.7) 99%,
    rgba(225, 223, 237, 0.8) 100%
  );
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  width: 0;
  height: 0;
  border-radius: 50%;
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  .portfolio-card .portfolio-card-overlay {
    -webkit-transition: none;
    transition: none;
  }
}

.portfolio-card .portfolio-card-overlay .portfolio-card-caption {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.portfolio-card:hover .portfolio-card-overlay {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

@media (max-width: 767.98px) {
  .portfolio-card {
    margin-bottom: 30px;
  }
  .service-card {
    margin-bottom: 30px;
  }
}

.certificate_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .certificate_container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.open_cert_btn {
  background-color: #0563bb !important;
}
